@font-face{
	font-family: 'penn';
	src: url("../fonts/Pennstat.ttf");
}
.water{
	background-image: url(../img/underwater-header.jpg);
	background-size: cover;
	font-size: 15pt;
	color:black !important;
	/*padding-top: 25px;*/
	border: 0;
    box-shadow: 0 0 30px blue;
}
.navbar-brand {
	font-family: penn;
	border-right: 1px solid black;
	font-size: 30px;
	color:black;
}

.navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-brand:hover {
	color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.title {
	text-align: center;
	width: 100%;
	font-family: penn;
	margin-top: 0px;
	padding: 20px;
	font-size: 100px;

}
.titletab {
	text-align: center;
	width: 100%;
	font-family: penn;
	/*margin-top: 0px;*/
	/*padding: 20px;*/
	border-left: 1px solid black;
	color: black;

}
.titledesc {
	text-align: center;
	font-family: penn;
	padding-top: 10px;
	/*color: white*/
	opacity: .95;
    filter: alpha(opacity=20);
	;
<<<<<<< Updated upstream
}
=======
	font-family: Verdana;

#posts {
	padding-bottom: 300px;
	border: 1px solid black;
}

#ans {
	padding-bottom: 300px;
	border: 1px solid black;
	background-color: white;
	padding-top: -30px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.5), 0 1px 1px rgba(255,255,255,0.5);
	border-radius: 4px;
	opacity: .9;
}

.col-md-4 {
	padding-top: 20px;
}

body {
	background-image: url(../img/submarinebase.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

.check {
	float: right;
}

.ex {
	float: right;
}
.list-group-item {
	padding-bottom: 30px;
	opacity: .9;
}
#contain {
	padding-top: 20px;
}
.foot {
	position: fixed;
	bottom: 0;
	padding: 12px;
	padding-bottom: 0;

}

#far {
	float: right;
	background-image: url(../img/underwater-header.jpg);
}

.report {
	float: right;
}

/* Start http://www.cursors-4u.com */ body, a:hover {cursor: url(http://cur.cursors-4u.net/nature/nat-7/nat630.cur), progress !important;} /* End http://www.cursors-4u.com */


