@font-face{
	font-family: 'penn';
	src: url("../fonts/Pennstat.ttf");
}

.title {
	text-align: center;
	width: 100%;
	font-family: penn;
	margin-top: 0px;
	padding: 20px;

}
.titletab {
	text-align: center;
	width: 100%;
	font-family: penn;
	margin-top: 0px;
	padding: 20px;
	border-left: 1px solid black;

}
.titledesc {
	text-align: center;
	font-family: penn;
	padding-top: 10px;
	/*color: white*/
	opacity: .7;
    filter: alpha(opacity=20);
	;
<<<<<<< Updated upstream
}
=======
	font-family: Verdana;
}
#posts {
	padding-bottom: 300px;
	border: 1px solid black;
	color
}

#ans {
	padding-bottom: 300px;
	border: 1px solid black;
	background-color: white;
	padding-top: -30px;
}

.col-md-4 {
	padding-top: 20px;
}

body {
	background-image: url(../img/submarinebase.jpeg);
	background-size: cover;
}

.check {
	float: right;
}

.ex {
	float: right;
}
.list-group-item {
	padding-bottom: 30px;
}
#contain {
	padding-top: 20px;
}
.foot {
	position: fixed;
	bottom: 0;
	padding: 12px;
	padding-bottom: 0;

}
.water{
	background-image: url(../img/underwater-header.jpg);
	background-size: cover;
}


