body{
	background-image: url("../img/new_page_bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
    height: 850px;
}
@font-face{
    font-family: 'penn';
    src: url("../fonts/Pennstat.ttf");
}
/* BEGIN navbar styling */
.water{
	background-image: url(../img/underwater-header.jpg);
	background-size: cover;
	font-size: 15pt;
	color:black !important;
	/*padding-top: 25px;*/
	border: 0;
	box-shadow: 0 0 30px blue;
}

.navbar {
    height: 75px;
}
.navbar-brand{
	font-family: penn;
	font-size: 20px;
    padding: 0;

}
div.container-fluid {
    padding: 0;
}
.navbar-default .nav-brand{
    color: #333;
}
.navbar-default .navbar-nav>li>a:hover {
    color: black;
}
.navbar-default .navbar-nav>li>a{
	color: #333;
    padding-top: 30px;
}
.navbar-right{
	width: 255px;
	height: 75px;
}
/* END navbar styling */
.logo {
    height: 75px;
    width: 75px;
    margin-left: 15px;
}
/* BEGIN title */
.titletab{
	font-family: penn;
	font-size: 20px;
	border-left: 2px solid black;
	color: #333;
    height: 75px;
}
<<<<<<< HEAD
=======
/* END navbar styling */

.toggle-switches {
    float: left;
    margin-left: 10px;
}
/* BEGIN title */
>>>>>>> origin/master
.title-input{
	opacity: 0.9;
}
.page-header {
	font-family: penn;
	font-size: 80px;
	text-shadow: 3px 3px #B3D4E0;
	border: 0;
	text-align: center;
	color: #333;
}
/* END title */

/* BEGIN input field styling */
#sizing-addon1{
	font-family:penn;
	font-size: 15px;
}

#code-input{
	width: 500px;
	height: 500px;
}

.form-group{
	margin:0 auto;
	width: 500px;
	opacity: 0.9;
}
/* BEGIN summernote styling */
.wysiwyg{
	opacity: 0.9;
}
#submitbtn{
	float: right;
	border: 2px solid black;
	box-shadow: 1px 1px 1px 1px;
}
#summernote{
	border: 2px solid black;
	opacity: 0.3;
    filter: alpha(opacity=30);
}
/* END summernote styling */
/* END input field styling */
