
body{
	background-image: url("../img/new_page_bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;

}
@font-face{
    font-family: 'penn';
    src: url("../fonts/Pennstat.ttf");
}
.water{
	background-image: url(../img/underwater-header.jpg);
	background-size: cover;
	font-size: 15pt;
	color:black !important;
	/*padding-top: 25px;*/
	border: 0;
	box-shadow: 0 0 30px blue;
}

.navbar-brand{
	font-family: penn;
	font-size: 20px;
	/*border-right: 2px solid black;*/

}
.nav .navbar-nav .navbar-right>ul>li>a{
	color: #333;
}
.titletab{
	font-family: penn;
	font-size: 20px;
	border-left: 2px solid black;
	color: #333;
}
.title-input{
	opacity: 0.9;
}
.page-header {
	font-family: penn;
	font-size: 80px;
	text-shadow: 3px 3px #B3D4E0;
	border: 0;
	text-align: center;
}
#sizing-addon1{
	font-family:penn;
	font-size: 15px;
}

#code-input{
	width: 500px;
	height: 500px;
}

.form-group{
	margin:0 auto;
	width: 500px;
	opacity: 0.7;
}
.wysiwyg{
	opacity: 0.9;

}
#submitbtn{

	float: right;
	border: 2px solid black;
	box-shadow: 1px 1px 1px 1px;
}
#summernote{
	border: 2px solid black;
	opacity: 0.3;
    filter: alpha(opacity=30);
}