
body{
	background-image: url("../img/new_page_bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
    height: 800px;
}
@font-face{
    font-family: 'penn';
    src: url("../fonts/Pennstat.ttf");
}
/* BEGIN navbar styling */
.water{
	background-image: url(../img/underwater-header.jpg);
	background-size: cover;
	font-size: 15pt;
	color:black !important;
	/*padding-top: 25px;*/
	border: 0;
	box-shadow: 0 0 30px blue;
    height: 75px;
}

.navbar-brand{
    height: 75px;
    padding: 0;
}
.logo{
    height: 75px;
    width: 75px;
	border-right: 2px solid black;
}
.navbar-default .nav-brand{
    color: #333;
}
.navbar-default .navbar-nav>li>a:hover {
    color: black;
}
.navbar-default .navbar-nav>li>a{
	color: #333;
}
.titletab{
	font-family: penn;
	font-size: 20px;
	border-left: 2px solid black;
	color: #333;
    height: 75px;
}
li>a.titletab{
    padding-top: 28px;
}
/* END navbar styling */

/* BEGIN title */
.title-input{
	opacity: 0.9;
}
.page-header {
	font-family: penn;
	font-size: 80px;
	text-shadow: 3px 3px #B3D4E0;
	border: 0;
	text-align: center;
	color: #333;
}
/* END title */

/* BEGIN input field styling */
#sizing-addon1{
	background-image: url(../img/logo_300x300.png);
}

#code-input{
	width: 500px;
	height: 500px;
}

.form-group{
	margin:0 auto;
	width: 500px;
	opacity: 0.9;
}
/* BEGIN summernote styling */
.wysiwyg{
	opacity: 0.9;
}
#submitbtn{

	float: right;
	border: 2px solid black;
	box-shadow: 1px 1px 1px 1px;
}
#summernote{
	border: 2px solid black;
	opacity: 0.3;
    filter: alpha(opacity=30);
}
/* END summernote styling */
/* END input field styling */
